@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');
/* Base Styles */
.wrapper {
    --wrapper-size: 50px;
    --wrapper-expanded-width: 400px;
    --wrapper-padding: 15px;
    --icon-size: 40px;
    --bar-icon-size: 25px;
    --text-area-height: 400px;
    
    width: var(--wrapper-size);
    height: var(--wrapper-size);
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 5px rgba(255, 0, 0, 0.15);
    position: absolute;
    transition: all 0.5s ease-in-out;
    animation-fill-mode: forwards;
    bottom: var(--wrapper-padding);
    right: calc(50% - var(--wrapper-size)/2);
    z-index: 10;
    cursor: pointer;
}

.wrapper svg {
    width: var(--icon-size);
    height: var(--icon-size);
    margin-bottom: 5px;
}

/* Animation States */
.wrapper.animate {
    animation: openVoiceRecorder 1s ease forwards;
}

.wrapper.animateClose {
    animation: closeVoiceRecorder 1s ease forwards;
}

#svg.animate {
    animation: rotate360 1s ease;
}

/* Text Container */
.textIRLWrapper {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: var(--wrapper-padding);
    box-sizing: border-box;
    text-align: center;
    font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.text-content {
    width: 100%;
    height: var(--text-area-height);
    padding: 10px;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #7D7D7D;
    overflow-y: auto;
    text-align: center;
    white-space: pre-wrap;
}

.textIRL {
    border-bottom: 1px solid #dfdfdf;
    cursor: text;
}

.textIRL-edit { 
    border: 0;
    outline: 0;
    border-radius: 4px;
    resize: none;
    font-size: 1em;
    line-height: 1.5;
    margin-top: 10px; 
    background: transparent;
}

.placeholder {
    color: #999;
    font-style: italic;
}

/* Action Bar */
.bar {
    position: absolute;
    width: calc(100% - 2 * var(--wrapper-padding));
    display: flex;
    justify-content: space-between;
    top: var(--wrapper-padding);
}

.bar svg {
    width: var(--bar-icon-size);
    height: var(--bar-icon-size);
    cursor: pointer;
    transition: all 0.3s ease;
}

.bar svg:hover {
    color: #0b7dda;
    transform: scale(1.1);
}

/* Animations */
@keyframes openVoiceRecorder {
    0% {
        right: calc(50% - var(--wrapper-size)/2);
    }
    50% {
        right: var(--wrapper-padding);
        width: var(--wrapper-expanded-width);
        border-radius: 10px;
    }
    100% {
        right: var(--wrapper-padding);
        width: var(--wrapper-expanded-width);
        border-radius: 10px;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
    }
}

@keyframes closeVoiceRecorder {
    0% {
        right: var(--wrapper-padding);
        width: var(--wrapper-expanded-width);
        border-radius: 10px;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
    }
    50% {
        right: var(--wrapper-padding);
        width: var(--wrapper-expanded-width);
        border-radius: 10px;
    }
    100% {
        right: calc(50% - var(--wrapper-size)/2);
        width: var(--wrapper-size);
        border-radius: 50%;
        height: var(--wrapper-size);
    }
}

@keyframes rotate360 {
    100% {
        transform: rotate(360deg);
    }
}